buildSrc.iml
com_crashlytics_export_strings.xml
local.properties
/bin
/gen
/.classpath
/.project
/.settings
/proguard.cfg
/target
/lint.xml
/proguard-project.txt
/resourcePrepare
/.externalToolBuilders
/maven-eclipse.xml
/.idea
/.crashlytics_data
*.iml
*.iws
*.ipr
/.out
/out
/*.trace
res/raw/app.properties
res/values/com_crashlytics_export_strings.xml
.DS_Store




.gradle/
build/

